<h1>Books</h1>
<% @books.each do|book| %>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3">
        <%= link_to 'Show', show_path %>
        <%= link_to 'Edit', edit_path %>
        <%= link_to 'destroy', destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></th>
      </tr>
  </thead>
  </table>

<% end %>

<h2>New book</h2>
<%= form_with model:@book, local:true do |f| %>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Body</h3>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>